In [31]:
#importing all libraries upfront

#general utilities
import requests
import re
import pandas as pd
import string
from datetime import datetime, date
from bs4 import BeautifulSoup as bs

#twitter data fetching
import snscrape.modules.twitter as sntwitter

#NLTK specific libraries
import nltk
from nltk.corpus import treebank, wordnet as wn
from nltk.classify import NaiveBayesClassifier
from nltk.tag.sequential import ClassifierBasedPOSTagger
from nltk.stem import WordNetLemmatizer

In [9]:
#initializing necessary data

#initialize handler dataframe
handlers = {"handlers":["Dailymirror_SL", "colombotelegrap", "NewsfirstSL", "theisland_lk", "NewsWireLK", 
            "adaderana", "DailyNews_lk", "TimesOnlineLK", "FT_SriLanka", "CeylonToday"]}

handlers_df = pd.DataFrame(handlers)
handlers_df["followers"] = 0
handlers_df["friends"] = 0
handlers_df["tweets"] = 0

# tweets retrieval periods
to_date = datetime(2023, 6, 29)
from_date = datetime(to_date.year - 1, to_date.month, to_date.day)

# data save and retrieval directory
data_dir = r'C:\Users\SujithThillymplam\Documents\machine-learn-experiment\text_analytics'

# additional REST endpoint headers
api_headers = {"Authorization": "Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA"}

In [3]:
# functions to generate summary counts for followers, friends and number of tweets for each handler 

# function to count followers and friends
def followers_friends_count(df, header_map={}, option='friends'):
    for inx, row in df.iterrows():
        url = "https://api.twitter.com/1.1/" + option + "/ids.json?screen_name=" + row["handlers"] + "&count=5000"
        fjson = requests.get(url, headers=api_headers).json()
        fcount = len(fjson["ids"])
        next_cursor = fjson["next_cursor"] 
    
        while next_cursor > 0:
            sub_url = url + "&cursor=" + str(fjson["next_cursor"])
            fjson = requests.get(sub_url, headers=header_map).json()
            next_cursor = fjson["next_cursor"]
            fcount += len(fjson["ids"])
        
        df.at[inx, option] = fcount
        print("%s : %s - %s" % (option, row["handlers"], fcount))
        
# function to count tweets for a given period of time for all news handlers        
def tweet_counts_for_periods(df, from_date, to_date):
    
    for inx, row in df.iterrows():
        tweet_count = 0;
        query = '@' + row["handlers"]
        tquery = "%s lang:en until:%s since:%s" % (query, to_date.strftime("%Y-%m-%d"), from_date.strftime("%Y-%m-%d"))
        
        itr = sntwitter.TwitterSearchScraper(tquery).get_items()
        for tweet in itr:
            tweet_count += 1
        
        df.at[inx, "tweets"] = tweet_count

In [4]:
# call the above function and generate the summary
# note - all 3 function execution is time consuming, executed individually and saved in a CSV file for later reference

followers_friends_count(handlers_df, api_headers)
followers_friends_count(handlers_df, api_headers, 'followers')
tweet_counts_for_periods(handlers_df, from_date, to_date)

# handlers_df.to_csv (data_dir + "\handlers.csv", index = None, header=True)

In [10]:
# Question (a) - 10 popular news sources
# news handlers|no of followers|no of followings|no of tweets for last 1 year
# Read from handlers.csv file and display the stats
# The values obtained here are generated by executing the above given functions (time consuming)

handlers_df = pd.read_csv(data_dir + "\handlers.csv")
handlers_df[["handlers", "followers", "friends", "tweets"]]

          handlers  followers  friends  tweets
0   Dailymirror_SL     588872       35   34677
1  colombotelegrap      42406        2    1198
2      NewsfirstSL     525162        8   20932
3     theisland_lk        261        0    4743
4       NewsWireLK     222255        2   39698
5        adaderana     533456       14    9114
6     DailyNews_lk      14858       93    4314
7    TimesOnlineLK      17092        7    2736
8      FT_SriLanka      80772        8    2857
9      CeylonToday      62797       33    3972

In [6]:
# extract all the newslinks for every every handler

def find_tweets_with_news_links(handler_list, from_date, to_date, size=0):
    filtered_tweets = []
    
    for handler_name in handler_list:
        tquery = "%s lang:en until:%s since:%s" % (('@' + handler_name), to_date.strftime("%Y-%m-%d"), from_date.strftime("%Y-%m-%d"))
        tweets = sntwitter.TwitterSearchScraper(tquery).get_items()
        web_url_regex = "(https?://t\.co/([\w\d:#@%/;$()~_?\+-=\\\.&](#!)?)*)"

        for t in tweets:
            urls = re.findall(web_url_regex, t.rawContent)
            news_url = ''
            for x in urls:
                news_url = x[0].strip()
                filtered_tweets.append([t.id, handler_name, t.date, news_url])
            
            if(size > 0 and len(filtered_tweets) > size):
                break
    
        if(size > 0 and len(filtered_tweets) > size):
            break
            
    headers = ['id', 'source', 'date', 'url']
    return pd.DataFrame(filtered_tweets, columns=headers)

In [8]:
# call the news extractor and generate newslinks
# save to a CSV file for future reference so that the contents can be retrieved later

news_df = find_tweets_with_news_links(handlers["handlers"], from_date, to_date)
#news_df.to_csv (data_dir + "\\news_contents.csv", index = None, header=True)

In [27]:
# display first 10 saved news urls to verify 

news_df =  pd.read_csv((data_dir + "/news_contents.csv"), engine='python', encoding='latin1')
news_df[["id", "source", "date", "url"]].head(10)

,id,source,date,url
0,1.67E+18,Dailymirror_SL,2023-06-29 11:19:41+00:00,https://t.co/f9WwIKUC6k
1,1.67E+18,Dailymirror_SL,2023-06-29 11:19:01+00:00,https://t.co/osPbuVCcd5
2,1.67E+18,Dailymirror_SL,2023-06-29 11:07:33+00:00,https://t.co/aANaVO4QcW
3,1.67E+18,Dailymirror_SL,2023-06-29 08:04:39+00:00,https://t.co/8c8Wu4kGPy
4,1.67E+18,Dailymirror_SL,2023-06-29 08:07:02+00:00,https://t.co/IPFcbc0pVH
5,1.67E+18,Dailymirror_SL,2023-06-29 05:44:42+00:00,https://t.co/9WFsFwkQWU
6,1.67E+18,Dailymirror_SL,2023-06-29 05:44:01+00:00,https://t.co/vEsOHG1z5w
7,1.67E+18,Dailymirror_SL,2023-06-29 05:43:13+00:00,https://t.co/2ilBkJNFa7
8,1.67E+18,Dailymirror_SL,2023-06-29 05:42:29+00:00,https://t.co/GDXR3AFJdW
9,1.67E+18,Dailymirror_SL,2023-06-29 05:41:48+00:00,https://t.co/05eKZ6PwK3

In [5]:
# expanding the contraction texts, underneath is a helper function to expand them 
contraction_map = {
"ain't": "is not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"I'd": "I would",
"I'd've": "I would have",
"I'll": "I will",
"I'll've": "I will have",
"I'm": "I am",
"I've": "I have",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you would",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have"
}

# expanding the shorthand words
def expand_contractions(sentence, contraction_mapping):
    
    contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())), 
                                      flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match = contraction.group(0)
        first_char = match[0]
        expanded_contraction = contraction_mapping.get(match)\
                                if contraction_mapping.get(match)\
                                else contraction_mapping.get(match.lower())                       
        expanded_contraction = first_char+expanded_contraction[1:]
        return expanded_contraction
        
    expanded_sentence = contractions_pattern.sub(expand_match, sentence)
    return expanded_sentence

In [21]:
# Question (b) - extract all the articles from the links discovered above

# helper function which retrievs texts for a given url
# it extracts texts for the givel htmltags and specific attributes in the tags

def extract_web_text(url, tags=['p'], filterAttr={}):
    text = ''
    html = None
    soup = None
    title = None
    body = None
    
    try:
        html = requests.get(url, timeout=60).content
        soup = bs(html, 'html.parser')
        title = soup.find('head')
        body = soup.find('body')
    
    except:
        print("Connectivity error with news url: %s" % url)
        return ''
    
    if title != None:
        for c in title.find_all(tags, filterAttr):
            text += c.text.strip()
    
    if body != None:
        for c in body.find_all(tags, filterAttr):
            content = re.sub(r'[\t\r\n]', r' ', c.text.strip())
            
            if len(content) < 19 or (len(content) > 18 and re.search(r"\s", content)):
                text += ' ' + content
        
    return text


# helper function to remove all unwanted characters from the content
# it also expands the contractions by calling expand_contractions() function defined above

def clean_text_content(content):
    
    content = re.sub(r"[\'|’]", "'", content.strip())
    content = re.sub(r"[“|”]", "'", content.strip())
    content = re.sub(r"[?|$|&|*|%|@|(|)|~|©|\\|™]", r' ', content)
    content = re.sub(r'[\s]+', r' ', content)
    content = expand_contractions(content, contraction_map)
    
    return content

# main function that is called to extract all the links
def extract_clean_text(handler_df, links_df, start=0, stop=1000):
    handler_map = {}
    
    for inx, row in handler_df.iterrows():
        handler_attr = {}
        handler_attr["name"] = row["name"]
        handler_attr["tags"] = row["content_tags"].split()
        handler_map[row["handlers"]] = handler_attr
    
    for inx, row in links_df.iterrows():
        if inx < start:
            continue;
            
        if inx > stop:
            break;
        
        handler_attr = handler_map[row["source"]]
        content = extract_web_text(row["url"], handler_attr["tags"])
        content = clean_text_content(content)
        print("%s url - %s extracted" % (inx, row["url"]))
        
        if handler_attr["name"] in content:
            links_df.at[inx, "content"] = content

In [42]:
# Question (b) - extract all the articles by calling above functions
# following code extracts content from first 10 links and prints them underneath

extract_clean_text(handlers_df, news_df, start=0, stop=10)
news_df[["id", "source", "date", "url", "content"]].head(10)

0 url - https://t.co/f9WwIKUC6k extracted
1 url - https://t.co/osPbuVCcd5 extracted
2 url - https://t.co/aANaVO4QcW extracted
3 url - https://t.co/8c8Wu4kGPy extracted
4 url - https://t.co/IPFcbc0pVH extracted
5 url - https://t.co/9WFsFwkQWU extracted
6 url - https://t.co/vEsOHG1z5w extracted
7 url - https://t.co/2ilBkJNFa7 extracted
8 url - https://t.co/GDXR3AFJdW extracted
9 url - https://t.co/05eKZ6PwK3 extracted
10 url - https://t.co/5bkWcAVkW3 extracted

,id,source,date,url,content
0,1.670000e+18,Dailymirror_SL,2023-06-29 11:19:41+00:00,https://t.co/f9WwIKUC6k,Gemunu says no to bus fare revision - Breaking...
1,1.670000e+18,Dailymirror_SL,2023-06-29 11:19:01+00:00,https://t.co/osPbuVCcd5,Six standouts set to light up the critical sta...
2,1.670000e+18,Dailymirror_SL,2023-06-29 11:07:33+00:00,https://t.co/aANaVO4QcW,Eight foreigners arrested with heroin - Breaki...
3,1.670000e+18,Dailymirror_SL,2023-06-29 08:04:39+00:00,https://t.co/8c8Wu4kGPy,Members appointed to EC and HRC - Breaking New...
4,1.670000e+18,Dailymirror_SL,2023-06-29 08:07:02+00:00,https://t.co/IPFcbc0pVH,Chief Inspector of police killed in Homagama a...
5,1.670000e+18,Dailymirror_SL,2023-06-29 05:44:42+00:00,https://t.co/9WFsFwkQWU,300 medical graduates who completed internship...
6,1.670000e+18,Dailymirror_SL,2023-06-29 05:44:01+00:00,https://t.co/vEsOHG1z5w,"Banking system will not be burdened, EPF funds..."
7,1.670000e+18,Dailymirror_SL,2023-06-29 05:43:13+00:00,https://t.co/2ilBkJNFa7,NMRA lacked professor in pharmacology for mont...
8,1.670000e+18,Dailymirror_SL,2023-06-29 05:42:29+00:00,https://t.co/GDXR3AFJdW,'Presumed human remains' found within wreckage...
9,1.670000e+18,Dailymirror_SL,2023-06-29 05:41:48+00:00,https://t.co/05eKZ6PwK3,Udeni Rajapaksa to be appointed as new Air For...

In [28]:
# Question (b) - function to produce token summary from the above extracted text
# This produces no_tokens, no_unique_tokens, no_news_items per newshandler as output

def handler_token_summary(handler_df, news_df, start=0, stop=1000):
    handler_map = {}
    
    for inx, row in handler_df.iterrows():
        handler_attr = {}
        handler_attr["no_tokens"] = 0
        handler_attr["no_unique_tokens"] = 0
        handler_attr["no_news_items"] = 0
        handler_attr["unique_tokens"] = set()
        handler_map[row["handlers"]] = handler_attr
    
    for inx, row in news_df.iterrows():
        tokens = nltk.word_tokenize(str(row["content"]))
        if row["source"] in handler_map:
            handler_attr = handler_map[row["source"]]
            handler_attr["unique_tokens"].update(tokens)
            handler_attr["no_tokens"] += len(tokens)
            handler_attr["no_unique_tokens"] = len(handler_attr["unique_tokens"])
            handler_attr["no_news_items"] += 1
            handler_map[row["source"]] = handler_attr
        
        if inx < start:
            continue;
            
        if inx > stop:
            handler_attr.pop("unique_tokens")
            handler_map[row["source"]] = handler_attr
            break;
    
    return handler_map

stats = handler_token_summary(handlers_df, news_df, 0, 20000)

In [30]:
# Question (b) Display token summary by handlers
# The above handler_token_summary function output is formatted for display

summary = []
for k, v in stats.items():
    summary.append([k, v["no_news_items"], v["no_tokens"], v["no_unique_tokens"]])
    
summary_df = pd.DataFrame(summary, columns=["handler", "no_news_items" , "no_tokens", "no_unique_tokens"])
summary_df

           handler  no_news_items  no_tokens  no_unique_tokens
0   Dailymirror_SL           6222    7822119             98964
1  colombotelegrap            777    2780678             87700
2      NewsfirstSL           3524   11898190             36665
3     theisland_lk             21      48416              5401
4       NewsWireLK           4532    2337881             42052
5        adaderana              0          0                 0
6     DailyNews_lk             16        778                71
7    TimesOnlineLK              0          0                 0
8      FT_SriLanka           1794    1557234             42086
9      CeylonToday            430     387484             14171

In [32]:
# Question (b) Data preparation for model building
# The under defined helper functions would be combined with the extracted dataset

# Lemmatizing the text
def lemmatize_text(content, tagger, lemmatizer):
    sentences = nltk.sent_tokenize(content)
    lemmatized_text = ''
    
    for s in sentences:
        tokens = [t.strip() for t in nltk.word_tokenize(s)]
        
        tagged_token = tagger.tag(tokens)
        lemmatized_tokens = []
        
        for word, tag in tagged_token:
            custom_tag = None
            
            if tag.startswith('J'):
                custom_tag = wn.ADJ
            elif tag.startswith('V'):
                custom_tag = wn.VERB
            elif tag.startswith('N'):
                custom_tag = wn.NOUN
            elif tag.startswith('R'):
                custom_tag = wn.ADV
            #else:
                #custom_tag = None
            
            if custom_tag:
                lemmatized_tokens.append(lemmatizer.lemmatize(word.lower(), custom_tag))
            else:
                lemmatized_tokens.append(word.lower())
                
        lemmatized_text += " ".join(lemmatized_tokens)
            
    return lemmatized_text

# removing of all unwanted characters in the text
def remove_special_characters(text):
    tokens = nltk.word_tokenize(text)
    pattern = re.compile('[{}]'.format(re.escape(string.punctuation)))
    filtered_tokens = filter(None, [pattern.sub('', token) for token in tokens])
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text

# removing all functional words
def remove_functional_words(text, stopword_list):
    tokens = nltk.word_tokenize(text)
    filtered_tokens = [token for token in tokens if token not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

In [46]:


def normalize_text(source_df: pd.DataFrame, normalized_df: pd.DataFrame, start=0, stop=1000):
    wnl = WordNetLemmatizer()
    tagged_data = treebank.tagged_sents()
    nb_tagger = ClassifierBasedPOSTagger(train=tagged_data, classifier_builder=NaiveBayesClassifier.train)
    stopwords = nltk.corpus.stopwords.words('english')    
    n_data = []
    
    for inx, row in source_df.iterrows():
        if inx < start:
            continue;
            
        if inx > stop:
            break;
        
        text = lemmatize_text(row['content'], nb_tagger, wnl)
        text = remove_special_characters(text)
        text = remove_functional_words(text, stopwords)
        
        data_row = [row['id'], row['source'], text]
        normalized_df.loc[len(normalized_df)] = data_row

In [47]:
norm_df = pd.DataFrame(columns=['id', 'source', 'content'])
x = normalize_text(news_df, norm_df, 0, 5)

In [48]:
norm_df

         id          source                                            content
0  1.67E+18  Dailymirror_SL  gemunu say bus fare revision break news daily ...
1  1.67E+18  Dailymirror_SL  six standouts set light critical stage cwc23 q...
2  1.67E+18  Dailymirror_SL  eight foreigner arrest heroin break news daily...
3  1.67E+18  Dailymirror_SL  member appoint ec hrc break news daily mirror ...
4  1.67E+18  Dailymirror_SL  chief inspector police kill homagama accident ...
5  1.67E+18  Dailymirror_SL  300 medical graduate complete internship say a...